/* no scrolling x axis */
body{
  margin: 0px;
  overflow-x: hidden;
}

/* Size of each container */
.container{
  height: 30vw;
  width: 100vw;
  position: absolute;
}

/* Image size */
.image{
  width: 20%;
  height: 70%;
  position: absolute;
}

/* Container Order */

/*about us title container */
#about_us_title{
  text-align: center;
  font-size: 2vw;
  height: 15vw;
  background-color: #dfb0d3;
}

/*inspiration container*/
#inspiration{
  top: 15vw;
  background-color: #db94be;
}

/*alan container*/
#alan{
  top: 45vw;
  background-color:#d983a6; 
}

/*al container*/
#al{
  top: 75vw;
  background-color:#d94773;
}

/* Image locations */

/* location of alpaca image */
#alpaca_image{
  right: 5vw;
  top: 5vw;
}

/* location of alan image */
#alan_image{
  left: 5vw;
  top: 5vw;
}

/* location of al image */
#al_image{
  right: 5vw;
  top: 5vw;
}

/*Text*/

/* location and size of inspiration text */
#inspiration_text{
  position: absolute;
  text-align: center;
  top: 8.5vw;
  width: 70vw;
  font-size: 2vw;
}

/* location and size of al text */
#al_text{
  position: absolute;
  text-align: center;
  top: 8.5vw;
  width: 70vw;
  font-size: 2vw;
}

/* location and size of alan text */
#alan_text{
  position: absolute;
  text-align: center;
  top: 8.5vw;
  left: 28vw;
  width: 70vw;
  font-size: 2vw;
}


/* nav bar appear on top of everything */
#nav_bar{
  z-index: 1;
  position: absolute;
  left: 0.5vw;
  top: 0.5vw;
}