@import url('https://fonts.googleapis.com/css?family=Quicksand');

/**Make page unscrollable for visual purposes**/
body {
    background-color: black;
    margin: 0px;
}

/*size of the containers*/
.container {
    width: 33.33vw;
    height: 100vh;
}

/*hidden images*/
.overlay {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s ease;
}

/*when hovered on make hidden image visible*/
.container:hover .overlay {
    opacity: 1;
}

/* text description atributes */
.text {
  position: absolute;
  text-align: center;
  top: 0vw;
  left: 0vw;
  color: black;
  font-size: 1.2vw;
  background-color: white;
  opacity: .7; 
}

/* container positions */
#al {
  left: 0vw;
  position: absolute;
}

#inspiration {
  left: 33.33vw;
  position: absolute;
}

#alan {
  left: 66.6vw;
  position: absolute;
}

/* make image upside down */
#upside_down{
  transform: scaleY(-1)
}


/* nav bar button size */
#nav_bar_button{
  width:auto;
  height: auto;
}

/* move nav bar */
#nav_bar{
  z-index: 1;
  position: absolute;
  margin-top: 8.5vw;
  margin-left: .3vw;
}