/*BOOK SHELF LAYOUT
 Stories(Top)
---------------
  Info(Bottom)
*/

body {
  background: url("../images/bookshelf.png")repeat-x center top fixed;
  background-size: 89vw 51vw;
  background-color: black;
}

/* Atributes for every book */
.book {
  height: auto;
  width: 3.5vw;
  padding: 1vw
}

.flex_container {
  display: flex;
  margin-top: 2vw;
  margin-left: 7.9vw;
  justify-content: flex-start; /*Allign books to center */
  flex-wrap: wrap; /* Keeps images on screen */
  width: 83vw;
  border: solid;
  border-color: white;
}

img {
  max-width: 100%;
  height: auto;
}

/* brown books */
#depression {
  height: auto;
  width: 3.49vw;
  order: 3;
}
#depression_story {
  height: auto;
  width: 3.49vw;
}

/* green books */
#schizo {
  height: auto;
  width: 3.37vw;
}
#schizo_story {
  height: auto;
  width: 3.37vw;
}

/* red books */
#anxiety {
  height: auto;
  width: 3.37vw;
}
#anxiety_story {
  height: auto;
  width: 3.37vw;
}

/* blue books */
#ptsd {
  height: auto;
  width: 3.37vw;
}
#ptsd_story {
  height: auto;
  width: 3.37vw;
}

/* yellow books */
#eating_disorder {
}
#eating_disorder_story {
}

/* The order of the books */
/*brown*/
.depression_1 {order: 7;}
.depression_2 {order: 2;}

/*green*/
.schizo_1 {order: 9;}
.schizo_2 {order: 6;}

/*red*/
.anxiety_1 {order: 11;}
.anxiety_2 {order: 5;}

/*blue*/
.ptsd_1 {order: 8;}
.ptsd_2 {order: 1;}

/*yellow*/
.eating_disorder_1 {order: 10;}
.eating_disorder_2 {order: 3;}

.top_gap{
  padding: 27.7vw;
  order: 4;
}