/*BOOK SHELF LAYOUT
 Stories(Top)
---------------
  Info(Bottom)
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/* background */
body {
  background: url("../images/bookshelf.png")repeat-x center top fixed;
  background-size: 89vw 51vw;
  background-color: black;
  overflow: hidden;
}

/* atributes for every book */
.book {
  height: auto;
  width: 3.39vw;
  padding: 1vw
}

.book:hover {
  -webkit-filter: drop-shadow(8px 8px 8px #222);
  filter: drop-shadow(8px 8px 8px #222);
}


/* atributes for every book title */
.title {
  position: absolute;
  top: 1vw;
  left: 1vw;
  font-size: 1.5vw;
  transform: rotate(90deg);
  font-weight: bold;
  color: black;
  font-family: 'Noto Sans JP', sans-serif;
}

/*container that holds all the books */
.flex_container {
  display: flex;
  margin-top: 2vw;
  margin-left: 7.9vw;
  justify-content: flex-start; /*Allign books to center */
  flex-wrap: wrap; /* Keeps images on screen */
  height: 48vw;
  width: 83vw;

}


/* SIZE OF BOOKS */

/* brown books */
#depression_info_book {
  height: auto;
  width: 3.49vw;
  
}
#depression_story_book {
  height: auto;
  width: 3.49vw;
}

/* green books */
#schizo_info__book {
  height: auto;
  width: 1px;
}
#schizo_story_book {
  height: auto;
  width: 3.37vw;
}

/* red books */
#anxiety_info_book {
  height: auto;
  width: 3.37vw;
}
#anxiety_story_book {
  height: auto;
  width: 3.37vw;
}

/* blue books */
#ptsd_info_book {
  height: auto;
  width: 3.37vw;
}
#ptsd_story_book {
  height: auto;
  width: 3.37vw;
}

/* yellow books */
#eating_disorder_info_book {
  height: auto;
  width: 3.49vw;
}
#eating_disorder_story_book{
  height: auto;
  width: 3.49vw;
}

/* ORGANIZATION OF BOOKS */

/*brown*/
.depression_1 {
  order: 7;
  height: 8vw;
  }
.depression_2 {
  order: 2;
  height: 9vw;}

/*green*/
.schizo_1 {
  order: 10;
  height: 9vw;
  }
.schizo_2 {
  order: 6;
  height: 9vw;
}

/*red*/
.anxiety_1 {
  order: 12;
  height: 9vw;
  }
.anxiety_2 {
  order: 5;
  height: 9vw;
  }

/*blue*/
.ptsd_1 {
  order: 8;
  height: 9vw;
  }
.ptsd_2 {
  order: 1;
  height: 9vw;
  }

/*yellow*/
.eating_disorder_1 {
  order: 11;
  height: 9vw;
  }
.eating_disorder_2 {
  order: 3;
  height: 9vw;
  }

/* size of gap on top shelf */
.top_gap{
  padding-left: 55vw;
  height: 1vw;
  order: 4;
}

/* size of gap of bottom shelf */
.bot_gap {
  padding-left: 55vw;
  height: 1vw;
  order: 9;
}

/* POP UP */

/* atributes of container that holds all of the images and contents */
.book_template_container {
  top: 0vw;
  left: 0vw;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7); /* makes background opaque */
  transition: opacity 500ms;
  height: 100vw;
  width: 100vw;
}

/* pop up close button */
.book_template_container .close {
  position: absolute;
  top: 5vw;
  right: 24.5vw;
  transition: 0s;
  font-size: 2vw;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/* color of close button when hovered on */
.book_template_container .close:hover {
  color:gray;
}

/* where pop out book would be displayed */
.hidden_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5vw;
  width: 65%;
}

/* left colloum of book */
.left_col {
  position: absolute;
  top: 6vw;
  width: 23vw;
  height: 37vw;
  color: black;
  font-size: 0.9vw;
  left: 25.4vw;
}


/* right colloum of book */
.right_col {
  position: absolute;
  top: 6vw;
  width: 23.5vw;
  height: 37vw;
  color: black;
  font-size: 0.9vw;
  right: 24.7vw;
}

/* display text and content when clicking on a book */
#depression_info:target{
  visibility: visible;
  opacity: 1;
}
#depression_story:target {
  visibility: visible;
  opacity: 1;
}

#schizo_info:target{
  visibility: visible;
  opacity: 1;
}
#schizo_story:target {
  visibility: visible;
  opacity: 1;
}

#anxiety_info:target{
  visibility: visible;
  opacity: 1;
}
#anxiety_story:target {
  visibility: visible;
  opacity: 1;
}

#ptsd_info:target{
  visibility: visible;
  opacity: 1;
}
#ptsd_story:target {
  visibility: visible;
  opacity: 1;
}

#eating_disorder_info:target{
  visibility: visible;
  opacity: 1;
}
#eating_disorder_story:target {
  visibility: visible;
  opacity: 1;
}

h1{
  text-align: center;
}

p {
  text-indent: 2vw;
}

/* BOOK TITLES */
#depression_info_title{
  position: absolute;
  top:32vw; 
  left:4.8vw;
}
#depression_story_title{
  position: absolute;
  top:8vw; 
  left:9.7vw;
}
#schizo_info_title{
  position: absolute;
  top:32vw;
  left:69.5vw;
}
#schizo_story_title{
  position: absolute;
  top:8vw;
  left: 80vw;
}
#anxiety_info_title{
  position: absolute;
  top:32vw;
  left: 82.8vw;
}
#anxiety_story_title{
  position: absolute;
  top:8vw;
  left: 77vw;
}
#ptsd_info_title{
  position: absolute;
  top:32vw; 
  left:12.4vw;
}
#ptsd_story_title{
  position: absolute;
  top:8vw; 
  left: 6.4vw;
}
#eating_disorder_info_title{
  position: absolute;
  top:32vw;
  left: 74.5vw;
}
#eating_disorder_story_title{
  position: absolute;
  top:8vw;
  left: 13.6vw; 
}
